primary-color = #00ab6b

// 字体
font-serif = -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
font-mono = "Source Code Pro", Menlo, Monaco, Consolas, monospace

font-size = 18px
