@import 'nib'
@import '_vars'
@import '_mixins'
@import '_components/*'

*
*:before
*:after
  box-sizing border-box

body
  font-family font-serif
  margin 0

#main
  width 700px
  margin 0 auto
  
  @media mq-mobile
    width 100%

a
  text-decoration none
  $link()
