article
  margin-bottom 80px
  min-height 500px
  
  h1
    font-size font-size * 2
    text-align center
    margin-bottom 10px
  
  h2, h3, h4
    margin-top 30px
    
  p
    font-size font-size
    line-height 1.58
    color #555
    margin 30px 0 0
    
  img
    max-width 500px
    height auto
    display block
    margin 0 auto 20px
    
  a
    color #555
    background-image linear-gradient(to bottom, rgba(0, 0, 0, .8) 25%, rgba(0, 0, 0, 0) 25%)
    background-size 3px 3px
    background-position 0 font-size
    background-repeat repeat-x
    
  .info
    margin-bottom 50px
    
  .info
  .info a
    text-align center
    color grey
