h2
  span
      color lightgrey
      
.posts
  position relative
  margin 0 0 100px 180px
  
  h2
    position absolute
    transform translateX(-140%)
    
    
      
  .more-posts
    display inline-block
    margin 40px 0 0 40px
    padding 5px 25px
    border 1px solid lightgrey
    border-radius(4px)
    
    &:hover
      border-color primary-color
  
.post-item
  border-left 1px solid primary-color
  padding-left 20px
  padding-bottom 20px
  
  h3
    margin 5px 0 0 20px
    
  time
    color lightgrey
    font-size font-size * .7
